<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/vite.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>模块入口</title>
    </head>
    <body>
        <ul>
            <li>
                <a href="main/index.html">后台管理模块</a>
            </li>
            <li>
                <a href="robot/index.html">移动端模块</a>
            </li>
        </ul>
    </body>
    <!-- <script>
        window.location.href = '/main/index.html';
    </script> -->
</html>
